@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  background-color: $backgroundColor;
}

input {
  outline: unset;
}

.instagramFont {
  font-family: 'Lobster', cursive;
}
