$mainFeedWidth: 615px;
$mainAsideWidth: 345px;
$navBoxHeight: 60px;
$defaultFont: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
$inactiveColor: #c5e1fb;
$activeColor: #0084ff;
$pointColor: #ed4956;
$themeBorder: 1px solid #dbdbdb;
$backgroundColor: #fafafa;
$fontSubColor: #8e8e8e;
$fontMainColor: #262626;
