@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.navigationMain {
  @include flexBox(start, center);
  position: fixed;
  z-index: 1;
  border-bottom: 1.5px solid #bdbfc1;
  width: 100%;
  height: $navBoxHeight;
  background-color: white;
  font-family: $defaultFont;

  .navBox {
    @extend %absoluteCenter;
    @include flexBox(space-between, center);
    height: $navBoxHeight;
    width: calc($mainFeedWidth + $mainAsideWidth);

    .instagramIcon {
      @include flexBox(start, center);
      font-size: 25px;

      .instagramFont {
        margin-left: 12px;
        padding-left: 12px;
        border-left: 1.5px solid black;
      }
    }

    .searchBox {
      @extend %absoluteCenter;

      .search {
        padding: 8px 15px;
        width: 270px;
        background-color: #fafafa;
        border: 1px solid #bdbfc1;
        border-radius: 3px;
      }

      .searchPlaceholder {
        @extend %absoluteCenter;
        color: #bdbfc1;
        pointer-events: none;
      }
    }

    .searchBox:focus-within .searchPlaceholder {
      visibility: hidden;
    }

    .navIcons {
      a img {
        width: 25px;
      }
    }

    .navIcons a:not(:first-child) {
      margin-left: 16px;
    }
  }
}
